{% if request.user.is_authenticated  %}
<p>{{ request.user }}</p>
<a href = "{% url 'logout' %}">Logout</a>
{% else   %}
<a href = "{% url 'login' %}"  >Login</a>
{% endif  %}

<hr>
<h1>My To Do List {{ color }}</h1>
<a href="{% url 'task-create' %}">Add Task</a>
<a href="{% url 'category-create' %}">Add Category</a>

<form method="GET">
    <input type="text" name="search-area" value="{{search_input}}">
    <input type="submit" value="Search">
</form>

<form method="GET">
    <label for="priority">Priority:</label>
    <select name="priority" id="priority">
        <option value="">Усі</option>
        <option value="H">High</option>
        <option value="M">Medium</option>
        <option value="L">Low</option>
    </select>
    <select name="complete" id="complete">
        <option value="">Усі</option>
        <option value="1">Completed</option>
        <option value="0">Not completed</option>
    </select>
    <button type="submit">Filter</button>
</form>

<table>
    <tr>
        <th>Item</th>
        <th></th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td><a href="{% url 'task' task.id %}">View</a></td>
        <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
        <h3>No items in list</h3>
    {% endfor %}
</table>

</br>
<table>
    <tr>
        <th>Categories</th>
        <th></th>
        <th></th>
    </tr>
    {% for category in categories %}
    <tr>
        <td>{{ category.name }}</td>
        <td><a href="{% url 'category-update' category.id %}">Edit</a></td>
        <td><a href="{% url 'category-delete' category.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <h3>No categories</h3>
    {% endfor %}

</table>

<p>Відсоток виконання: {{ overall_completion_percentage|floatformat:1 }}%</p>

<a href="{% url 'export-pdf' %}">Export to PDF</a>